.Footer {
  margin-top: 4.2rem;
}
.Line {
  border-top: 1px solid #e9ecef;
  max-width: 90vw;
  margin: 0 auto;
}
.FooterContent {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ZuriInternship {
  display: inline-block;
  width: 8rem;
}
.Ingressive {
  width: 6rem;
}
.FooterText {
  font-size: 14px;
  color: #979898;
}

@media (max-width: 420px) {
  .Footer {
    display: none;
    cursor: none;
  }
}

@media (max-width: 700px) {
  .Footer {
    display: none;
    opacity: 0;
    cursor: none;
  }
}
