.ZuriBooks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #e9ecef;
  margin: 1rem 8rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.subtext {
  font-size: 12px;
  color: #757a7a;
}

.ZuriBooks p {
  display: inline-block;
}

@media (max-width: 420px) {
  .ZuriBooks {
    margin: 1rem 1rem;
  }
}

@media (max-width: 830px) {
  .ZuriBooks {
    margin: 1rem 1rem;
  }
}
